# Django Settings
SECRET_KEY=xdn4#z^2%x9@*6k6)$=o++n(sy!8=ab*9ao9i13w5!c_q(8!qt
DEBUG=False
DATABASE_URL=postgresql://classykicks_db_user:Fw5oAhgIViuWQvEnmtu7anA1tz8CVGXG@dpg-d1jgedmmcj7s73dd27s0-a/classykicks_db

# Cloudinary Settings (optional - only if using Cloudinary)
CLOUD_NAME=dhqb6c8y4
CLOUDINARY_API_KEY=651441796887498
CLOUDINARY_API_SECRET=_RpinSzbJ6D8GAI_R-yqnV0yZuQ